body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid #000;
    background-color: cadetblue;
    height: 656px;
    width: 416px;
    padding: 20px;
    gap: 4px;
    border-radius: 5px;
}

.container .display {
    margin: 0;
    margin-bottom: 2px;
    height: 140px;
    width: 408px;
    font-size: 1.8rem;
    text-align: end;
    letter-spacing: 20px;
    line-height: 140px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
}

.container .btn,
.container .equal,
.container .clear,
.container .plus-minus,
.container .percent {
    height: 100px;
    width: 100px;
    border: lightgray;
    border-radius: 5px;
    font-size: 1.2rem;
}

.container .dot:disabled {
    background-color: #EFEFEF;
    color: #000;
}

.percent:disabled,
.plus-minus:disabled {
    background-color: lightskyblue;
    color: #000;
}

.btn:hover,
.top:hover,
.equal:hover {
    filter: brightness(85%);
}

.container .zero {
    width: 204px;
}

.operator {
    background-color: chocolate;
}

.top {
    background-color: lightskyblue;
}