body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #000;
    background-color: cadetblue;
    height: 328px;
    width: 208px;
    padding: 10px;
    gap: 2px;
    border-radius: 5px;
}

.container .display {
    margin: 0;
    height: 70px;
    width: 204px;
    font-size: 1.4rem;
    text-align: end;
    letter-spacing: 10px;
    line-height: 70px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
}

.container .btn,
.container .equal,
.container .clear,
.container .plus-minus,
.container .percent {
    height: 50px;
    width: 50px;
    border: lightgray;
    border-radius: 5px;
    font-size: 1.2rem;
}

.container .zero {
    width: 102px;
}

.operator {
    background-color: chocolate;
}

.top {
    background-color: lightskyblue;
}